body {
  padding: 50px;
  font-family:
    "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #F7F7F7;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #00B7FF;
}

.rgb_controls {
  width: 90%;
  margin-left: 2em;
}

.range-bar {
  margin-top: 3em;
}

.red_powerrange .range-quantity {
  background-color: red;
}

.green_powerrange .range-quantity {
  background-color: green;
}

.blue_powerrange .range-quantity {
  background-color: blue;
}

.current_color {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: -1em;
  text-align: center;
}

.right_side h2 {
  text-align: center;
}

.left_side h2 {
  text-align: center;
}

#add_ledstripe {
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
}
