extends layout

block content
  h1= title
  hr
  div(class="pure-g")
    div(class="pure-u-1-2 left_side" id="leds_field")
      h2.
        LED
      select(id="ledselect", name="ledselect", placeholder="select led")
        option(value='', disabled, selected, style='display:none;').
          select LED
    div(class="pure-u-1-2 right_side")
      h2.
        Color
      div(class='rgb_controls')
        input(class='red_slider slider', style='display:none;')
        input(class='green_slider slider', style='display:none;')
        input(class='blue_slider slider', style='display:none;')
  div(class="pure-g")
    input(type="button" class='modal-open pure-button' onclick="window.location.href='#modal-text';" value="NEW LED")
    section(class="modal--show" id="modal-text" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true")
      div(class="modal-inner")
        header(id="modal-label").
          Create New LED
        div(class="modal-content")
          form(class="pure_form pure-form-stacked", id="ledstripe_form")
            label(for="name").
              Name
            input(type="text", name="name", placeholder="Name")
            label(for="ip").
              IP-Address
            input(type="text", name="ip", placeholder="IP")
        footer
          input(type="button" id="add_ledstripe" class='modal-open pure-button' onclick="window.location.href='#!';" value="ADD LED")
      a(href="#!" class="modal-close" title="Close this modal" data-close="X" data-dismiss="modal").
       ?
