extends layout

block content
  h1= title
  p Welcome to #{title}
  div(class="pure-g")
    div(class="pure-u-1-2")
      h2.
        LEDs
      button(id="add_ledstripe", class="btn").
        ADD LED
    div(class="pure-u-1-2")
      h2.
        Pick Color
      div(class='rgb_controls')
        input(class='red_slider slider')
        input(class='green_slider slider')
        input(class='blue_slider slider')
        div(class='current_color')
